.input-container-checkout {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px 30px 30px 20px;
    background-color: #ededed;
    width: 700px;
    border-radius: 20px;
    border: 2px solid #333;
  }

.first {
  margin-top: 125px !important;
  }
  