.input-container-checkout {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 20px 30px 30px 20px;
  background-color: #ededed;

  border-radius: 20px;
  border: 2px solid #333;
}

.order_info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.order_info__wrapper > label {
  align-self: center;
  justify-self: center;
}

.order_info__wrapper > label > select {
  padding: 13px 40px;
  font-size: 18px;
  line-height: 21px;
  border-width: 2px;
  border-radius: 4px;
  background-color: white;
}

select:focus-visible, select:hover {
  border-color: #ffcc00;
}

input {
  padding: 13px 10px;
  width: 400px;
  font-size: 18px;
}

.send_order_button__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.send_order_button {
  width: 250px;
  font-size: 21px;
}
  